In [1]:
import pandas as pd
import yfinance as yf
import datetime
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from config import password
import psycopg2

In [2]:
# Creating a Database Connection & Engine
DATABASE_CONNECTION = f"postgresql://postgres:{password}@127.0.0.1:5432/p2p_loans"
engine = create_engine(DATABASE_CONNECTION)
session = Session(engine)

In [3]:
#Extracting Data from SQL
pro_loan_data = db.MetaData()
raw_loan_data = db.Table('loan_data', pro_loan_data, autoload=True, autoload_with=engine)
query = db.select([raw_loan_data])
ResultProxy = session.execute(query)
ResultSet = ResultProxy.fetchall()

In [4]:
raw_loan_data_df = pd.DataFrame(ResultSet)
raw_loan_data_df.columns = ResultSet[0].keys()

In [5]:
raw_loan_data_df

,id,member,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_title,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,inq_last_6mths,mths_since_last_delinq,mths_since_last_record
0,1077501,1296599,5000.0,5000.0,4975.0,36.0,0.107,162.87,B,None,...,5833.84,5000.00,863.16,0.00,0.00,0.00,171.62,1.0,0.0,0.0
1,1077430,1314167,2500.0,2500.0,2500.0,60.0,0.153,59.83,C,Ryder,...,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,5.0,0.0,0.0
2,1077175,1313524,2400.0,2400.0,2400.0,36.0,0.160,84.33,C,None,...,3005.67,2400.00,605.67,0.00,0.00,0.00,649.91,2.0,0.0,0.0
3,1076863,1277178,10000.0,10000.0,10000.0,36.0,0.135,339.31,C,AIR RESOURCES BOARD,...,12231.89,10000.00,2214.92,16.97,0.00,0.00,357.48,1.0,35.0,0.0
4,1075358,1311748,3000.0,3000.0,3000.0,60.0,0.127,67.79,B,University Medical Group,...,3513.33,2475.94,1037.39,0.00,0.00,0.00,67.79,0.0,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500.0,2500.0,1075.0,36.0,0.081,78.42,A,FiSite Research,...,1213.88,2500.00,322.97,0.00,0.00,0.00,80.90,0.0,0.0,0.0
39713,90665,90607,8500.0,8500.0,875.0,36.0,0.103,275.38,C,"Squarewave Solutions, Ltd.",...,1020.51,8500.00,1413.49,0.00,0.00,0.00,281.94,1.0,5.0,0.0
39714,90395,90390,5000.0,5000.0,1325.0,36.0,0.081,156.84,A,None,...,1397.12,5000.00,272.16,0.00,0.00,0.00,0.00,0.0,0.0,0.0
39715,90376,89243,5000.0,5000.0,650.0,36.0,0.074,155.38,A,None,...,672.66,5000.00,174.20,0.00,0.00,0.00,0.00,0.0,0.0,0.0
39716,87023,86999,7500.0,7500.0,800.0,36.0,0.138,255.43,E,Evergreen Center,...,980.83,7500.00,1695.26,0.00,0.00,0.00,256.59,0.0,11.0,0.0